<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
{% if site.twitter_user %}
    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="{{ site.twitter_user }}">
    <meta property="twitter:url" content="{% if canonical %}{{ canonical }}{% else %}{{ site.url }}{% endif %}">
    <meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="twitter:description" content="{{ description | strip_html | condense_spaces | truncate:200 }}">
{% endif %}

<!-- favicon etc. -->
<link rel="apple-touch-icon" sizes="57x57" href="{{ root_url }}/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ root_url }}/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ root_url }}/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ root_url }}/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ root_url }}/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ root_url }}/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ root_url }}/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ root_url }}/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ root_url }}/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="{{ root_url }}/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ root_url }}/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="{{ root_url }}/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="{{ root_url }}/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="{{ root_url }}/manifest.json">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="{{ root_url }}/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">